*~
*.nsys-rep
+*.nsys-cu-rep
+*.nsys-cu
*.nvvp
*.nvprof
*.sqlite3
*.sqlite3-journal
*.sqlite
*.log
*.log.*
*.csv
*.csv.*
*.qdrep
*.qdstrm
*.qdc
*.qdn

# Python Artifacts
*.so
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
__pycache__



# Directories
.pytest_cache/
.cmake/
build/
pk_cpp/

